[Unit]
Description=Vulcan 3
After=docker.service

[Service]
User=core
Restart=always
TimeoutSec=180

ExecStartPre=/usr/bin/docker pull mailgun/vulcand
ExecStart=/bin/bash -c 'docker run --rm --name vulcan3 -p 80:80 -p 8181:8181 -p 8182:8182 mailgun/vulcand /go/bin/vulcand -apiInterface="0.0.0.0" -interface="0.0.0.0" -etcd="http://172.17.42.1:4001" -port=80 -apiPort=8182'
ExecStop=/usr/bin/docker kill vulcan3

[X-Fleet]
X-Conflicts=vulcan*
